//
   Created by smaudet on 4/26/2016.

extends ./presentation

block slides
  section
    include:markdown slide_dir/slide1.md
  section 
    include:markdown slide_dir/slide2.md
  section
    section
      include:markdown slide_dir/slide3.md
    section
      include:markdown slide_dir/slide3-1.md
    section
      include:markdown slide_dir/slide3-2.md
    section
      include:markdown slide_dir/slide3-3.md
    section
      include:markdown slide_dir/slide3-4.md
    section
      include:markdown slide_dir/slide3-5.md
    section
      include:markdown slide_dir/slide3-6.md
    section
      include:markdown slide_dir/slide3-7.md
    section
      include:markdown slide_dir/slide3-8.md
    section
      include:markdown slide_dir/slide3-9.md
    section
      include:markdown slide_dir/slide3-10.md
    section
      include:markdown slide_dir/slide3-11.md
    section
      include:markdown slide_dir/slide3-12.md
  section
    section
      include:markdown slide_dir/slide4.md
    section
      include:markdown slide_dir/slide4-1.md
    section
      include:markdown slide_dir/slide4-2.md
    section
      include:markdown slide_dir/slide4-3.md
  section
    section
      include:markdown slide_dir/slide5.md
    section
      include:markdown slide_dir/slide5-1.md
    section
      include:markdown slide_dir/slide5-2.md
    section
      include:markdown slide_dir/slide5-3.md
    section
      include:markdown slide_dir/slide5-4.md
